html{
  font-size: 16px;
}
body{
  background: grey;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Element Overwrites */
h1{
  font-weight: 100;
  font-size: 5em;
}
section{
  height: 100vh;
  width: 100vw;
}

/* Utility Classes */
.blue-text{
  color: #20a2ff;
}

/* Navigation Bar */
nav.navbar{
  position: fixed;  
  left: 0;
  z-index: 150;
  
  //Vertically center
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  
  line-height: 55px; //Vertical text center
  width: 0px;

  border-radius: 0; //Overwrite default border radius

  transition: width .6s, background-color 1.6s, top .6s;
  -webkit-transition: width .6s, background-color 1.6s, top .6s;

  //When scrolled
  &.default{
    height: 55px;      
    width: 100%;
    background-color: rgba(18, 81, 108, 0.76);
    top: 0;
	  transform: translateY(0%);    
	  -webkit-transform: translateY(0%);
    
  }
 
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    //Nav Element
    li{
      font-size: 1.2em;
      display: inline;
      margin-left: 35px;
      cursor: pointer;      
    }
  }
}

/* Landing Section */
.landing{
  background: black;
  display: flex;

  //Centered Content
  .main-content{
    margin: auto;
    text-align: center;
    .intro-text{

    }
  }

  //Sroll down button
  .fa-chevron-down{
    position: absolute;
    bottom: 15vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
  }
  
}

.projects{
  background-color: rgb(210, 210, 210);
  position: relative;
  overflow: hidden;
  display: flex;

  .main-content{
    width: 100%;
    margin: auto;

    .project-card{
      box-shadow: 0px 0px 8px 1px rgba(31, 31, 31, 0.33);;

      background-color: #f2f2f2;
      .image{
        width: 85%;
        padding-bottom: 100%;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .description{
        width: 100%;
        padding: 1px;
        height: 8em;
        background-color: rgb(52, 52, 52);

        .title{
          text-align: center;
          font-weight: 100;
        }
      }
    }
  }

  //Fragmented Background
  .frac-bg{
    $base-color: #767575;

    position: absolute;
    width: 100%;
    height: 100%;

    //Piece Class
    .pi{
      position: absolute;
      transform-origin: left top;
    }

    //Piece 1
    .p1{
      background: lighten($base-color, 10%);
      -webkit-transform: rotate(-35deg);
      height: 100%;
      width: 100%;
      left: -55%;
    }
    //Piece 2
    .p2{
      background: darken($base-color, 10%);
      -webkit-transform: rotate(-35deg);
      height: 140%;
      width: 200%;
      left: 15%;

      
      //Piece 2's Sub 1
      .s1{
        background: darken($base-color, 20%);
        position: absolute;
        top: 0%;
        width: 100%;
        height: 97%;
      }
      //Piece 2's Sub 2
      .s2{
        background: darken($base-color, 30%);
        position: absolute;
        top: 0%;
        width: 100%;
        height: 94%;
      }

      //Piece 2's Sub 3
      .s3{
        background: rgb(0, 94, 128);
        position: absolute;
        bottom: 15%;
        width: 100%;
        height: 15%;
      }
    }
    
    //Depth Level 1
    .d1{
      box-shadow: 0px 0px 8px 1px #1F1F1F;
    }    
    .d2{
      box-shadow: 0px 0px 8px 1px #000000;
    }

    //Inset Level 1
    .i1{
      box-shadow: inset -15px 0px 5px 0px rgba(0,0,0,0.75);
    }
  }

}
